// Variables
$bgcolor: #06052b;
$shadow: #838295;

// Mixins
@mixin height($val) {
    height: $val;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: $bgcolor;
}

a.navbar-item{
    @include height(200px);
}

.hero.is-primary a.navbar-item:hover, .hero.is-primary a.navbar-item.is-active, .hero.is-primary .navbar-link:hover, .hero.is-primary .navbar-link.is-active{
    background-color: transparent;
}

a.img{
    @include height(300px);
}

.navbar-item img{
    max-height: 120px !important;
}

.hero.is-primary{
    background-color:  $bgcolor;
}

.navbar > .container {
    margin-left: 3%;
}

// Imbrication
//3D Round button 
.roundButton{
	position: relative;
    color: $shadow;
    text-decoration: none;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 1em;
    display: block;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    -webkit-box-shadow: 0px 5px 0px $shadow, 0px 5px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 5px 0px $shadow, 0px 5px 25px rgba(0,0,0,.7);
    box-shadow: 0px 5px 0px $shadow, 0px 5px 25px rgba(0,0,0,.7);
    width: 40px;
    @include height(40px);
    text-align: center;
    
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    
    // Sélecteur parent
    &:active {
        -webkit-box-shadow: 0px 3px 0px $shadow, 0px 3px 6px rgba(0,0,0,.9);
        -moz-box-shadow: 0px 3px 0px $shadow, 0px 3px 6px rgba(0,0,0,.9);
        box-shadow: 0px 3px 0px $shadow, 0px 3px 6px rgba(0,0,0,.9);
        position: relative;
        top: 6px;
    }
}

.button-A{
  margin-bottom: 40px;
  margin-left: 80px;
}

.buttons-right{
  margin-bottom: 40px;
  position: absolute;
  right: 5%;
  top: 40%;
}

.buttons-bottom{
  margin-bottom: 15px;
  position: absolute;
  right: 5%;
  top: 85%;
}

p.info-button{
  color: white;
  font-family: 'roboto';
  margin-left: 20px;
}

.arrow-buttons{
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;

  .arrow-buttons-column{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10%;
    top: 40%;
  }
}

.arrow-buttons-row{
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 6%;
  top: 48%;
}

// Extend
.arrow {
    position: relative;
    color: $shadow;
    text-decoration: none;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 1em;
    display: block;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    -webkit-box-shadow: 0px 5px 0px $shadow, 0px 5px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 5px 0px $shadow, 0px 5px 25px rgba(0,0,0,.7);
    box-shadow: 0px 5px 0px $shadow, 0px 5px 25px rgba(0,0,0,.7);
    width: 40px;
    @include height(40px);
    text-align: center;
    
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    
    // Sélecteur parent
    &:active {
        -webkit-box-shadow: 0px 3px 0px $shadow, 0px 3px 6px rgba(0,0,0,.9);
        -moz-box-shadow: 0px 3px 0px $shadow, 0px 3px 6px rgba(0,0,0,.9);
        box-shadow: 0px 3px 0px $shadow, 0px 3px 6px rgba(0,0,0,.9);
        position: relative;
        top: 6px;
    }
}

.arrow-left{
    @extend .arrow ;
  margin-right: 10px;
}

.arrow-right{
    @extend .arrow ;
  margin-left: 50px;
}

.arrow-top{
    @extend .arrow ;
  margin-bottom: 20px;
}

.arrow-bottom{
    @extend .arrow ;
  margin-top: 35px;
}

// Button explications
.button {
    padding: 0;
    width: 20px;
    @include height(20px);
}

.explications{
    display:  flex;
    position: fixed;
    right: 100px;
}